{% extends "base.html.twig" %}
{% block body %}<!-- mention -->
<p>Mentions légales
Conditions d'utilisation du site
Le site www.rhum-piece.com est destiné à l'information personnelle des internautes qui l'utilisent. L'accès et l'utilisation de ce site sont soumis aux présentes conditions générales détaillées ci-après ainsi qu'aux lois applicables. La connexion et l'accès au site www.rhum-clement.com implique l'acceptation intégrale et sans réserve par l'internaute de toutes les dispositions des présentes conditions générales. Sommaire des rubriques : 1. Loi informatique, fichiers et libertés 2. Droit de propriété intellectuelle 3. Informations relatives aux produits et services 4. Protection des données personnelles 5. Liens hypertextes 6. Droit applicable 7. Gestion des mots de passe 8. Limitation de responsabilité 9. Mise à jour RHUMS PIECE est une société privée. Le site www.rhum-piece.com est inscrit au registre du commerce de Créteil sous le numéro 482 422 888. Hébergement : * OVH * 140 quai du Sartel * 59100 Roubaix - France * Web: www.ovh.com/fr/index.xml * Tél: 0899 701 761

Loi informatique, fichiers et libertés
Conformément à la loi du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés et à l'article 43 de la loi du 30 septembre 1986 modifiée, www.Rhum-JM.com a fait l'objet d'une déclaration auprès de la Commission nationale informatique et libertés (CNIL) sous le numéro : en cours. Les utilisateurs sont tenus de respecter les dispositions de la loi informatique, fichiers et libertés, dont la violation est passible de sanctions pénales. Ils doivent notamment s'abstenir, s'agissant des informations nominatives auxquelles ils accèdent, de toute collecte, de toute utilisation détournée, et d'une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes. Conformément à l'article 34 de la Loi "Informatique et Libertés" n° 78-17 du 6 janvier 1978, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernant. Vous pouvez l'exercer en adressant un e-mail à " gregoire.gueden@rhums-piece.com" ou par courrier adressé à notre siège social.

Droits de propriété intellectuelle
RHUM PIECE avise les utilisateurs de ce site que de nombreux éléments de ce site sont protégés par la législation sur le droit d'auteur : ce peut être notamment le cas des photographies, des articles, des dessins, des séquences animées... Les éléments ainsi protégés sont la propriété RHUM PIECE ou de tiers ayant autorisé RHUM JM à les exploiter. A ce titre, toute reproduction, représentation, utilisation, adaptation, modification, incorporation, traduction, commercialisation, partielles ou intégrales par quelque procédé et sur quelque support que ce soit (papier, numérique, ...) sont interdites, sans l'autorisation écrite préalable de Rhums Piece, hormis les exceptions visées à l'article L 122.5 du Code de la Propriété Intellectuelle, sous peine de constituer un délit de contrefaçon de droit d'auteur et/ou de dessins et modèles et/ou de marque, puni de deux ans d'emprisonnement et de 152 449,02€ (soit 1.000.000 F) d'amende.

Informations relatives aux produits et services
Les informations et illustrations figurant sur les pages de ce site Internet sont basées sur les caractéristiques techniques en cours au moment de la mise en ligne ou de la mise à jour des différentes pages du site. En tout état de cause, les informations contenues sur ce site sont des informations à caractère général et n'ont pas valeur contractuelle.

Protection des données personnelles
La consultation du site http://www.rhum-piece.com/est possible sans que vous ayez à révéler votre identité ou toute autre information à caractère personnel vous concernant. Concernant les informations à caractère nominatif que vous seriez amené à nous communiquer, vous bénéficiez d'un droit d'accès et de rectification conformément à la loi française Informatique et Liberté n° 78-17 du 6 janvier 1978. Vous pouvez exercer ce droit auprès de RHUM PIECE. La collecte de ces informations est nécessaire pour répondre à vos demandes de renseignement, de prise de rendez-vous et vous adresser, le cas échéant, une lettre d'information électronique. Nous vous signalons qu'afin de vous proposer des produits et services toujours plus adaptés, certaines informations à caractère non personnel, relatives à votre activité sur ce site, seront automatiquement collectées. Ces informations sont destinées à RHUMS PIECE, et pourront également être utilisées dans le cadre d'opérations marketing ou servir de base à des études et analyses.

Liens hypertextes
La mise en place d'un lien hypertexte vers le site www.rhum-jm.com nécessite une autorisation préalable et écrite de RHUM JM. En tout état de cause, RHUM PIECE n'est en aucun cas tenue responsable du contenu ainsi que des produits ou services proposés sur les sites auxquels le site www.rhum-jm.com se trouverait lié par des liens hypertextes ou tout autre type de lien.

Droit applicable
Le site Internet www.rhum-jm.piece.com et les présentes conditions générales sont soumises au droit français et sont rédigés en français.

Gestion des mots de passe
RHUM PIECE met à votre disposition sur ce site Internet différents espaces vous permettant d'avoir accès à des services privilégiés (ex : Accès privilège). Pour obtenir l'accès à ces espaces, vous devez saisir votre adresse e-mail, nom prénom, code postal et choisir un mot de passe. Ce mot de passe est strictement personnel et vous devez en assurer la confidentialité. A ce titre, vous êtes responsable de toute utilisation de ce mot de passe et RHUM PIECE ne peut en aucun cas être tenue responsable de toute perte ou dommage occasionné par l'utilisation de ces espaces et/ou de ce mot de passe. Vous devez informer RHUM PIECE de toute utilisation frauduleuse de votre mot de passe ou espace et vous déconnecter après chaque consultation du site.

Limitation de responsabilité
Vous utilisez le site www.rhum-piece.com sous votre seule et entière responsabilité. RHUM PIECE ne pourrait être tenue pour responsables des dommages directs ou indirects, tels que, notamment, préjudice matériel, pertes de données ou de programme, préjudice financier, résultant de l'utilisation de ce site ou de sites qui lui sont liés. Vous devez, en conséquence, vous assurer que la loi du pays à partir duquel vous vous connectez autorise la consultation du site www.rhum-piece.com.

Mise à jour
RHUM PIECE se réserve le droit de modifier et de mettre à jour, sans préavis, les présentes Conditions Générales et tous les éléments, produits ou services présentés sur le site. L'ensemble de ces modifications s'impose aux internautes qui doivent consulter les présentes Conditions Générales lors de chaque connexion.
<!-- Conditions général -->
Conditions générales de vente: achat de rhum, épices...
Article 1 – Champ d’application



Les présentes Conditions Générales de Vente ont pour objet de régir, sans restriction ni réserve, l’ensemble des ventes conclues entre la société MB5(« Le Vendeur ») et les acheteurs professionnels et non professionnels (« Les Clients ou Le Client »)désirant acquérir des produits proposés à la vente sur le site internet www.dominocho.com.



Ces Conditions Générales de Vente précisent notamment les conditions de commande, de paiement, de livraison et de retour éventuel des produits commandés par les Clients sur le Site.



Le Client peut consulter simplement, librement et à tout moment les Conditions Générales de Vente en ligne sur le Site ou sur demande à MB5 Dominocho 1 rue de la Pommarie La Bêchetière 28340 LES RESSUINTES. Ainsi, toute commande de produit passée par un Client impliquera l'accord définitif et irrévocable du Client sur l'ensemble des Conditions Générales de Vente présentées ci-après.



Les présentes Conditions Générales de Vente s’appliquent exclusivement à la vente en ligne, à l’exclusion de toutes autres conditions, et notamment celles applicables pour les autres circuits de distribution et de commercialisation.



Les Conditions Générales de Vente pouvant faire l’objet de modifications ultérieures, la version applicable à l’achat du Client est celle en vigueur sur le site internet à la date de passation de la commande.





Article 2 –Produits proposés



Les caractéristiques principales des produits et notamment les spécifications, illustrations et indications de dimension ou de capacité des produits sont présentées sur le Site.



Certains produits commercialisés sur le Site sont soumis à la législation en vigueur concernant la vente à distance et notammentcelle relative aux boissons alcoolisées rentrant dans la catégorie IV conformément aux articles L.3331-1 et suivants du code de la santé publique.



Le rhum constitue un alcool dont l’abus est dangereux pour la santé, à consommer avec modération. Compte tenu de la spécificité de certains produits vendus sur le Site, seule une personne autorisée par la loi à consommer de l’alcool peut contracter avec le Vendeur.



Conformément aux articles L.3323-2 et suivants du Code de la santé publique, la vente d’alcool est interdite aux mineurs. Le Vendeur ne pourra en aucun cas être tenu pour responsable de l’utilisation qui en sera faite par le Client qui reste pleinement et seul responsable de son utilisation.



Le Site présente les fiches de présentation associées aux produits permettant à l'acheteur potentiel de connaître les caractéristiques essentielles des produits qu'il souhaite acheter avant la prise de commande définitive.



Elles sont données à titre indicatif et n'engagent pas le Vendeur quant au respect de la réalité du produit et ne peuvent remettre en question la validité d'une commande ou d'une vente.



Les photos sont non contractuelles et aucune erreur technique et/ou typographique ne pourra donner droit à réclamation de la part du Client ni ne saurait engager le Vendeur.





Article 3 - Processus de prise de commande



L’offre de commande des produits proposés à la vente n’est valable que pendant la période de présentation en ligne sur le Site et dans la limite des stocks disponibles, les indications sur la disponibilité des produits étant fournies au Client au moment de la passation de la commande. Les articles momentanément indisponibles sont signalés comme tels sur le Site et le Vendeur ne garantit donc pas la disponibilité absolue des produits.



Lors de sa commande, le Client remplit le formulaire de renseignements mis à sa disposition où il fera figurer les informations nécessaires à son identification et notamment ses nom, prénom, adresse postale, n° de téléphone et e-mail.Les informations énoncées par le Client lors de sa commande engagent celui-ci : en cas d’erreur dans ses coordonnées ou sur l’adresse de livraison ayant pour conséquence la perte des produits, le Client reste responsable du paiement des produits perdus et aucune indemnité ou remboursement ne pourra avoir lieu.



Lors de sa première commande, un compte client est créé avec le choix d’un nom d’utilisateur et d’un mot de passe par le Client valant preuve de l’identité du Client. Toute commande passée au moyen du compte client engage le Client. Le Client pourra toujours, en cas d’oubli de son mot de passe ou de son identifiant, retrouver son identifiant ou choisir un nouveau mot de passe à l’aide de la fonction présente sur le Site.



Le Client pourra visualiser le détail de sa commande et son prix total et corriger d’éventuelles erreurs ou modifier ses choix avant de valider sa commande.



Le Client validera définitivement sa commande, au vu d'un récapitulatif affiché à l'écran, en cliquant sur le lien correspondant pour manifester son engagement et son acceptation des présentes Conditions Générales de Vente.



Toute commande passée auprès du Vendeur sera confirmée au Client par l'envoi, dans les meilleurs délais et au plus tard sous 48 heures,d’un email d’accusé de réception valant confirmation de commande sur l’adresse mail renseignée par le Client.



La commande n’est considérée comme définitive qu’après règlement et bon encaissement de 100% du prix de vente TTC de la commande et des frais de livraison afférents.



Aucune modification des éléments de la commande n’est possible après réception du paiement sous réserve des conditions d’annulation et de remboursement de la commande prévues à l’article 10 des présentes.





Article 4 - Modes de règlement



Tous les achats effectués par le Client sur le Site sont payables comptant à la commande, en ligne, par carte bancaire Visa, Mastercard ou par Paypal.



En cas de règlement par chèque, la commande est réputée acceptée par le Vendeur qu’après réception et bon encaissement du chèque émis par le Client sous 8 jours suivant la commande passée sur le Site.



Le Vendeur adresse alors au Client une confirmation par mail de l'enregistrement de sa commande et des sommes payées.



Le Vendeur se réserve le droit de suspendre toute gestion de commande et toute livraison en cas de refus d'autorisation de paiement par carte bancaire ou autres paiement de la part des organismes officiellement accrédités ou en cas de non-paiement et ou fraude et de poursuivre le ou les auteurs de cette dernière.



Le Vendeur se réserve le droit de poursuivre toutes tentatives d'utilisation de moyen de paiement frauduleux et/ou de régler les litiges de paiement frauduleux ou de tentative de paiement frauduleux à l'amiable.



Le Vendeur se réserve le droit de refuser d'effectuer une livraison ou d'honorer une commande émanant d'un

Client pour motif légitime (conformément à l’article L.122-1 du Code de la consommation), ou émanant d’un Client qui n'aurait pas réglé totalement une commande précédente ou avec lequel un litige serait en cours d'administration.





Article 5 - Prix



Les prix de vente des produits peuvent évoluer à tout moment. Le prix de vente retenu pour l'achat d'un produit correspond à celui observé en ligne au moment de l'enregistrement de la commande sur le Site, sauf erreur typographique.



Lesdits frais sont calculés automatiquement en fonction du poids, de la zone de livraison et le cas échéant, du mode de transport choisi, avant la validation finale de la commande sur le Site.



Le Client sera toujours informé avant l'enregistrement définitif de sa commande des frais liés à la dite commande, et le paiement sera demandé au Client pour le montant total de l'achat, intégrant les prix des produits commandés plus les frais de transport (hors taxes douanières). Ainsi, la confirmation d'accord de paiement de la commande par le Client implique que ce dernier accepte de payer les frais afférents. Lesdits frais ne peuvent donc constituer une raison valable de remise en cause de la commande après son enregistrement définitif.



Toutes sommes non payées à l’échéance figurant sur la facture entraînent l’application de pénalités immédiatement exigibles et acquises au Vendeur calculées par jour de retard à compter de l’échéance de la facture au taux de trois fois le taux de l’intérêt légal appliqué au montant HT du prix d’acquisition (Loi LME du 4 août 2008) et d’une indemnité forfaitaire de compensation des frais de recouvrement de 40 euros (Décret du 2 octobre 2012).





Article 6 - Modalités de livraison



L’expédition de la commande ne peut se faire qu’après réception du paiement de 100% du prix et des frais de transport.Les centres de paiement bancaire concernés auront donc donné au préalable leur accord de paiement. En cas de refus desdits centres, la commande sera automatiquement annulée.



Les produits achetés sur le Site sont livrés à l’adresse spécifiée comme adresse de livraison par le Client lors de la commande.



La livraison est constituée par le transfert au Client de la possession physique ou du contrôle du produit.



Sauf cas particulier ou indisponibilité d’un ou plusieurs produits, les produits commandés seront livrés en une seule fois.



La livraison sera considérée comme réalisée dès la date de la première présentation de la marchandise à l'adresse de livraison indiquée par le Client. La remise des produits sera effectuée contre signature par le service SoColissimo de la Poste (tarification forfaitaire), en France et dans tous les pays acceptant ce mode de transport.



En cas d'absence du Client lors de la livraison, un avis de passage sera déposé dans sa boite aux lettres l'invitant à retirer son colis à la Poste.





Article 7–Délais de livraison



Les délais de livraison estimatifs sont affichés sous chaque fiche de présentation des produits sur le Site et ne tiennent pas compte des aléas de La Poste. Ils sont également disponibles sur le lien suivant Livraison.



Le Vendeur s’engage à faire les meilleurs efforts pour livrer les produits commandés par le Client dans les délais prévus. Le dépassement des délais ne peut donner lieu au versement d’aucune indemnité au profit du Client.



En cas de force majeure ou d'événements exceptionnels (catastrophe naturelle, épidémie, grèves, lock-out, etc.) retardant ou interdisant la livraison des marchandises, le Vendeur est dégagé de toute responsabilité.



Dans tous les cas, la livraison ne peut intervenir que si le Client est à jour de ses obligations envers le Vendeur.



Si les produits commandés n’ont pas été livrés dans un délai de 30 jours maximum après la conclusion du contrat, pour toute autre cause que la force majeure ou le fait du Client, ce dernier devra, préalablement à la résolution de la vente dont le prix excède 500 euros, dans les conditions prévues aux articles L 138-2 et L 138-3 du Code de la consommation, enjoindre au Vendeur par courrier recommandé avec demande d’avis de réception, d’exécuter le contrat dans un délai supplémentaire raisonnable. En cas de résolution de la vente, les sommes versées par le Client lui seront alors restituées au plus tard dans les 14 jours qui suivent la date de dénonciation du contrat, à l’exclusion de toute indemnisation ou retenue.





Article 8–Réception des produits



Le Client est tenu de vérifier l'état du colis et la conformité des produits livrés à la livraison.



Dans l’hypothèse où le Client aurait des réserves en cas de manquants, de pertes ou d’avaries, il devra, en présence du préposé du transporteur,émettre immédiatement un constat d’anomalie clair et détaillé précisant la nature et l’importance du dommage sur le bon de livraison avec le numéro de commande qui sera remis au transporteur.



Le Client doit signaler l’anomalie et formuler ses réserves auprès du Vendeur, par écrit, le jour même de la livraison. Le non-respect de cette procédure exclut tout recours à l’égard du Vendeur. Notamment, le Client ne pourra prétendre à aucun remboursement.



Le Vendeur s’engage alors à reprendre à ses frais les produits endommagés ou non conformes à la commande et à renvoyer de nouveaux produits dans les meilleurs délais.





Article 9 - Transfert de propriété- Transfert des risques



Le transfert de propriété des produits du Vendeur au profit du Client ne sera réalisé qu’après complet paiement du prix par ce dernier, quelle que soit la date de livraison des produits.



Quelle que soit la date du transfert de propriété des produits, le transfert des risques de perte et de détérioration s’y rapportant, ne sera réalisé qu’au moment où le Client prendra physiquement possession des produits. Les produits voyagent donc aux risques et périls du Vendeur.



L'inexécution par le Client de ses obligations de paiement, pour quelque cause que ce soit, confère au Vendeur le droit d'exiger la restitution immédiate des produits livrés aux frais, risques et périls du Client (toute éventuelle remise en état des articles sera à la charge du Client).





Article 10 - Droit de rétractation



Conformément aux dispositions légales en vigueur, le Client dispose d’un délai de 14 jours à compter de la réception du produit pour exercer son droit de rétractation auprès du Vendeur, sans avoir à justifier de motifs ni à payer de pénalité, à fin d’échange ou de remboursement, à condition que les produits soient retournés dans leur emballage d’origine et en parfait état dans les 15 jours suivant la notification au Vendeur de la décision de rétractation du Client.



Les retours sont à effectuer dans leur état d’origine et complets (emballages..) permettant leur commercialisation à l’état neuf, accompagnés de la facture d’achat et du bon de retour signé par le Client comportant le numéro de la commande transmis avec les produits livrés.



En particulier, les produits retournés ne devront pas avoir été descellés. Tout produit incomplet, abîmé, endommagé, entamé ou dont l’emballage d’origine aura été endommagé, ne sera ni remboursé ni échangé.



Le droit de rétractation du Client peut être exercé à l’aide du formulaire de rétractation disponible sur le Site, auquel cas un accusé de réception sur un support durable sera communiqué au Client par le Vendeur, ou de toute autre déclaration, dénuée d’ambiguïté et exprimant la volonté de se rétracter.



Le retour des produits se fait par le renvoi de l’emballage d’origine, par courrier RAR adressé au siège du Vendeur.



En cas d’exercice du droit de rétractation dans le délai susvisé, seul le prix du ou des produits achetés et les frais de livraison sont remboursés, les frais de retour restant à la charge du Client.



L’échange (sous réserve de disponibilité) ou le remboursement sera effectué dans un délai de 14 jours à compter de la réception, par le Vendeur, des produits retournés par le Client dans les conditions prévues au présent article.





Article 11 - Responsabilité du Vendeur- Garantie



Conformément aux dispositions légales, les produits fournis par le Vendeur bénéficient de plein droit, indépendamment du droit de rétractation:



-          de la garantie légale de conformité, pour les produits apparemment défectueux, abîmés ou endommagés ou ne correspondant pas à la commande ;



-          de la garantie légale contre les vices cachés provenant d’un défaut de matière, de conception ou de fabrication affectant les produits livrés et les rendant impropres à l’utilisation.



Afin de faire valoir ses droits, le Client devra informer le Vendeur, par courrier RAR, de la non-conformité des produits dans un délai maximum de 2 ans à compter du jour de livraison des produits ou l’existence des vices cachés dans un délai de 2 ans à compter de leur découverte.



Le Vendeur remboursera, remplacera ou fera réparer les produits sous garantie jugés non conformes ou défectueux.



Les frais d’envoi seront remboursés sur la base du tarif facturé et les frais de retour seront remboursés sur présentation des justificatifs.



Le remboursement des produits jugés non conformes ou défectueux sera effectué dans les meilleurs délais, par crédit sur le compte bancaire du Client.



La responsabilité du Vendeur ne saurait être engagée dans les cas suivants :



-          non-respect de la législation dans lequel le produit est livré, qu’il appartient au Client de vérifier ;



-          en cas de mauvaise utilisation, d’utilisation à des fins professionnelles ou négligence de la part du Client, comme en cas d’usure normale du produit, d’accident ou de force majeure.



La garantie du Vendeur est, en tout état de cause, limitée au remplacement ou au remboursement des produits non conformes ou affectés d’un vice.





Article 12 - Informatique et Libertés



En application de la loi 78-14 du 6 janvier 1978, il est rappelé que les données nominatives qui sont demandées au Client sont nécessaires au traitement de sa commande et à l’établissement des factures.



Ces données peuvent être communiquées aux éventuels partenaires du Vendeur chargés de l’exécution, du traitement, de la gestion et du paiement des commandes.



Le traitement des informations communiquées par l’intermédiaire du Site a fait l’objet d’une déclaration auprès de la CNIL sous le numéro de déclaration 1901785 v 0 le 3 novembre 2015.



Le Client dispose, conformément aux réglementations nationales et européennes en vigueur, d’un droit d’accès permanent, de modification, de rectification et d’opposition s’agissant des informations le concernant.



Ce droit peut être exercé dans les conditions et selon les modalités définies sur le Site, en adressant une demande écrite à MB5 Dominocho 1 rue de la Pommarie La Bêchetière 28340 LES RESSUINTES.





Article 13 - Propriété intellectuelle



Le contenu du Site est la propriété du Vendeur et est protégé par les lois françaises et internationales relatives à la propriété intellectuelle.



Toute reproduction totale ou partielle de ce contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon.





Article 14 - Droit applicable- Langue



Les présentes Conditions Générales de Vente sont régies par le droit français, à l’exclusion de tout autre droit.





Article 15 - Litiges



Tous les litiges auxquels les opérations d’achat et de vente conclues en application des présentes Conditions Générales de Vente pourraient donner lieu, concernant tant leur validité, leur interprétation, leur exécution, leur résiliation, leurs conséquences et leurs suites et qui n’auraient pu être résolues amiablement entre le Vendeur et le Client seront soumis aux tribunaux compétents de PARIS.



Le Client est informé qu’il peut en tout état de cause recourir à une médiation conventionnelle notamment auprès de la Commission de la médiation de la consommation ou auprès des instances de médiation sectorielles existantes, ou à tout mode alternatif de règlement des différends en cas de contestation.





Article 16 - Informations légales concernant le Vendeur



MB5

SAS au capital de 130 000 euros

Siège social :La BECHETIERE – 28340 LES RESSUINTES

RCS CHARTRES 492 822 457

Tel : 02-37-37-57-45

Email : contact@dominocho.com





Article 17 - Informations précontractuelles-Acceptation du Client



Le Client reconnaît avoir eu communication, préalablement à la passation de sa commande, d’une manière lisible et compréhensible, des présentes Conditions Générales de Vente et de toutes les informations et renseignements visés aux articles L.111-1 à L.111-7 du Code de la consommation, et en particulier :



-          Les caractéristiques essentielles du produit,

-          Les prix des produits et des frais annexes,

-          La date ou le délai auquel le Vendeur s’engage à livrer les produits,

-          Les informations relatives à l’identité du Vendeur, ses coordonnées postales, téléphoniques et électroniques,

-          Les informations relatives aux garanties légales et à leurs modalités de mise en œuvre,

-          La possibilité de recourir à une médiation conventionnelle en cas de litige,

-          Les informations relatives au droit de rétractation, aux frais de renvoi des produits, aux modalités de résiliation et autres conditions contractuelles importantes.



Le fait pour une personne de commander sur le Site emporte son adhésion et acceptation pleine et entière des présentes Conditions Générales de Vente, ce qui est expressément reconnu par le Client, qui renonce, notamment, à se prévaloir de tout document contradictoire qui serait inopposable au Vendeur. 
</p>
{% endblock %}